.SideNav {
      height: 100%;
      width: 300px;
      background: #2A2A2A;
      color: white;
}

.SideNav h3 {
      padding-bottom: 15px;
}

.SideNav li {
      padding: 15px;
}

.SideNav li a {
      font-size: 19px;
      color: #CCC;
}

.SideNav_links {
      margin-bottom: 40px;
}

.SideNav_links .icon {
      margin-left: -20px;
      font-size: 14px;
}

.SideNav__top-panel {
      height: 50%;
}